svg.geometry {
  --stroke-width: 4px;
  --stroke-width-handle: calc(var(--stroke-width) / 2);
}

svg.geometry {
  border: solid 1px black;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

svg.geometry line {
  stroke-linecap: round;
  stroke-linejoin: round;
}

svg.geometry marker {
  fill: none;
  stroke: black;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
}

svg.geometry marker.vector {
  stroke: black;
}

svg.geometry marker.normal {
  stroke: darkblue;
}

svg.geometry marker.dim {
  stroke: darkgray;
}

svg.geometry circle.handle {
  stroke: none;
  stroke-dasharray: "5,5";
  stroke-width: var(--stroke-width-handle);
  fill: white;
  fill-opacity: 0;
}

svg.geometry circle.handle:hover {
  stroke: gray;
  cursor: grab;
}

svg.geometry circle.handle:active {
  stroke: gray;
  stroke-width: var(--stroke-width);
  /* cursor: grab; */
}

svg.geometry circle.point {
  stroke: black;
  stroke-width: var(--stroke-width);
  fill: lightgray;
}

svg.geometry circle.point.computed {
  stroke: darkred;
}

svg.geometry circle.point.drag {
  stroke: darkgreen;
}

svg.geometry circle.point.invisible {
  visibility: hidden;
}

svg.geometry circle.point.red {
  stroke: red;
}

svg.geometry circle.point.strong {
  stroke-width: calc(var(--stroke-width) * 1.5);
}

svg.geometry line.line {
  stroke: black;
  stroke-width: var(--stroke-width);
  stroke-linecap: round;
}

svg.geometry line.line.infinite {
  stroke: black;
  stroke-width: calc(var(--stroke-width) / 2);
  stroke-linecap: round;
  stroke-dasharray: calc(var(--stroke-width) * 2);
}

svg.geometry line.line.dim {
  stroke: darkgray;
}

svg.geometry line.line.computed {
  stroke: darkred;
  stroke-width: calc(var(--stroke-width) * 1.5);
}

svg.geometry line.line.emph {
  stroke: darkorange;
  stroke-width: calc(var(--stroke-width) * 1.5);
}

svg.geometry line.line.normal {
  stroke: darkblue;
  stroke-width: var(--stroke-width);
}

svg.geometry line.xaxis {
  stroke: black;
  stroke-width: var(--stroke-width);
}

svg.geometry line.yaxis {
  stroke: black;
  stroke-width: var(--stroke-width);
}

svg.geometry path[id].bezier {
  stroke: darkred;
  stroke-width: calc(var(--stroke-width) * 1.5);
  fill: none;
}

svg.geometry path[id].play {
  fill: lightgray;
  stroke: darkgreen;
  stroke-width: var(--stroke-width);
}

svg.geometry path[id].play:hover {
  fill: gray;
}

svg.geometry path[id].play:active {
  fill: lightsalmon;
}

svg.geometry circle[id].circle {
  stroke: black;
  stroke-width: var(--stroke-width);
  fill: none;
}

svg.geometry g[id].surface line {
  stroke: black;
  stroke-width: var(--stroke-width);
}

svg.geometry g[id].surface rect {
  fill: lightgray;
}
